* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF8E7;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #F9E4E6;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

a {
    margin-left: 30px;
    text-decoration: none;
    color: #9B1C31;
}

a:hover {
    background-color: rgba(255, 255, 255, .3);
    padding: 10px;
    border-radius: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px 0;
}

img {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 10px;

    box-shadow: 3px 5px 5px;
}

h1 {
    color: #9B1C31;
    text-shadow: 2px 3px 3px;
}

p {
    font-size: 13px;
}

.ingredients, .steps{
    padding: 20px;
    margin-bottom: 50px;

    border: 1px solid #9B1C31;
    background-color: #FFF0E0;
}

h2 {
    color: #9B1C31;
    margin-bottom: 20px;
}

ul, ol {
    padding-left: 20px;
}
li, p{
    color: #b82e45;
    margin-bottom: 10px;
}



